body {
    background-color: darkgrey;
    grid-gap: 10px;
}

.headline {
    color: firebrick;
    text-align: center;
    font-weight: bolder;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}