<!DOCTYPE html>

<html>
    <head>
        <title>Dummy welcome page</title>
        <link rel="stylesheet" id="styles"  href="{{ url_for('static', filename='css/index.css') }}" />
    </head>
    <body>
        <div class="headline">
            <h1>PAGE HEADLINE</h1>
        </div>
        <div class="wrapper">
            <div class="one">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ea eos eaque voluptatem nostrum, dolores itaque ipsam ex earum ab sapiente suscipit recusandae minus magni dolor doloremque ad repellendus in!</p>
            </div>
            <div class="two">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ea eos eaque voluptatem nostrum, dolores itaque ipsam ex earum ab sapiente suscipit recusandae minus magni dolor doloremque ad repellendus in!</p>
            </div>
            <div class="three">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ea eos eaque voluptatem nostrum, dolores itaque ipsam ex earum ab sapiente suscipit recusandae minus magni dolor doloremque ad repellendus in!</p>
            </div>
            <div class="four">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ea eos eaque voluptatem nostrum, dolores itaque ipsam ex earum ab sapiente suscipit recusandae minus magni dolor doloremque ad repellendus in!</p>
            </div>
        </div>
        <form action="{{ url_for('login', filename='login.html') }}">
            <button type="submit"><h1>CLICK HERE</h1>To LogIn</button>
        </form>
    </body>
</html>